body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  display:flex;
}
#u10288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u10289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u10291 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u10291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10292 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:11px;
  width:91px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u10292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 2px 10px rgba(204, 204, 204, 0.4);
  -webkit-box-shadow:0px 2px 10px rgba(204, 204, 204, 0.4);
  box-shadow:0px 2px 10px rgba(204, 204, 204, 0.4);
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10297 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:64px;
  width:335px;
  height:72px;
  display:flex;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u10298 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:76px;
  width:64px;
  height:48px;
  display:flex;
  line-height:24px;
}
#u10298 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10298_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10299 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:80px;
  width:40px;
  height:40px;
  display:flex;
}
#u10299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:24px;
}
#u10300 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:88px;
  width:64px;
  height:24px;
  display:flex;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:24px;
}
#u10300 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10300_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10301 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:91px;
  width:18px;
  height:18px;
  display:flex;
}
#u10301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u10302 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:208px;
  width:334px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u10302 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10302_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
  background:inherit;
  background-color:rgba(246, 140, 149, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u10302.mouseDown {
  opacity:0.7;
}
#u10302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:44px;
}
#u10303 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:272px;
  width:334px;
  height:44px;
  display:flex;
  font-size:16px;
}
#u10303 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10303_img.mouseDown {
}
#u10303.mouseDown {
  opacity:0.7;
}
#u10303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
