body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1180px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7032 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:68px;
  width:120px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7032 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7033 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:68px;
  width:120px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7033 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7034 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:68px;
  width:120px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7034 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7035_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:337px;
  height:7px;
}
#u7035 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:103px;
  width:333px;
  height:3px;
  display:flex;
}
#u7035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7036_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:262px;
  height:7px;
}
#u7036 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:103px;
  width:258px;
  height:3px;
  display:flex;
}
#u7036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7038_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:1190px;
  height:512px;
}
#u7038 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:1180px;
  height:502px;
  display:flex;
}
#u7038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7041 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:147px;
  width:1140px;
  height:400px;
  display:flex;
}
#u7041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u7042 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:187px;
  width:1140px;
  height:1px;
  display:flex;
}
#u7042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u7043 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:159px;
  width:13px;
  height:15px;
  display:flex;
}
#u7043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7043_img.mouseOver {
}
#u7043.mouseOver {
}
#u7043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u7044 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:159px;
  width:12px;
  height:15px;
  display:flex;
}
#u7044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7044_img.mouseOver {
}
#u7044.mouseOver {
}
#u7044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u7045 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:159px;
  width:17px;
  height:15px;
  display:flex;
}
#u7045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7045_img.mouseOver {
}
#u7045.mouseOver {
}
#u7045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7046 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:159px;
  width:15px;
  height:15px;
  display:flex;
}
#u7046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7046_img.mouseOver {
}
#u7046.mouseOver {
}
#u7046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u7047 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:159px;
  width:10px;
  height:15px;
  display:flex;
}
#u7047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7047_img.mouseOver {
}
#u7047.mouseOver {
}
#u7047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u7048 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:159px;
  width:13px;
  height:15px;
  display:flex;
}
#u7048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7048_img.mouseOver {
}
#u7048.mouseOver {
}
#u7048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u7049 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:159px;
  width:17px;
  height:15px;
  display:flex;
}
#u7049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7049_img.mouseOver {
}
#u7049.mouseOver {
}
#u7049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7050 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:159px;
  width:15px;
  height:15px;
  display:flex;
}
#u7050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7050_img.mouseOver {
}
#u7050.mouseOver {
}
#u7050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7051 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:159px;
  width:15px;
  height:15px;
  display:flex;
}
#u7051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7051_img.mouseOver {
}
#u7051.mouseOver {
}
#u7051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7052 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:159px;
  width:15px;
  height:15px;
  display:flex;
}
#u7052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7052_img.mouseOver {
}
#u7052.mouseOver {
}
#u7052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u7053 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:160px;
  width:15px;
  height:14px;
  display:flex;
}
#u7053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7053_img.mouseOver {
}
#u7053.mouseOver {
}
#u7053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u7054 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:159px;
  width:18px;
  height:15px;
  display:flex;
}
#u7054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7054_img.mouseOver {
}
#u7054.mouseOver {
}
#u7054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7055 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:158px;
  width:17px;
  height:17px;
  display:flex;
}
#u7055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7055_img.mouseOver {
}
#u7055.mouseOver {
}
#u7055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u7056 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:159px;
  width:16px;
  height:15px;
  display:flex;
}
#u7056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7056_img.mouseOver {
}
#u7056.mouseOver {
}
#u7056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7057 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:159px;
  width:15px;
  height:15px;
  display:flex;
}
#u7057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7057_img.mouseOver {
}
#u7057.mouseOver {
}
#u7057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u7058 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:159px;
  width:17px;
  height:15px;
  display:flex;
}
#u7058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7058_img.mouseOver {
}
#u7058.mouseOver {
}
#u7058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u7059 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:159px;
  width:17px;
  height:15px;
  display:flex;
}
#u7059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7059_img.mouseOver {
}
#u7059.mouseOver {
}
#u7059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7060 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:159px;
  width:15px;
  height:15px;
  display:flex;
}
#u7060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7060_img.mouseOver {
}
#u7060.mouseOver {
}
#u7060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7061 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:159px;
  width:15px;
  height:15px;
  display:flex;
}
#u7061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7061_img.mouseOver {
}
#u7061.mouseOver {
}
#u7061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7062 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:568px;
  width:140px;
  height:40px;
  display:flex;
}
#u7062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
