body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:708px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:769px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:769px;
  display:flex;
}
#u1029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u1030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:16px;
  width:9px;
  height:14px;
  display:flex;
}
#u1032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:11px;
  width:82px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u1033 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:139px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:72px;
  width:132px;
  height:139px;
  display:flex;
}
#u1034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:139px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:72px;
  width:132px;
  height:139px;
  display:flex;
}
#u1035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:139px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:246px;
  width:132px;
  height:139px;
  display:flex;
}
#u1036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:139px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:246px;
  width:132px;
  height:139px;
  display:flex;
}
#u1037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:139px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:420px;
  width:132px;
  height:139px;
  display:flex;
}
#u1038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:139px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:420px;
  width:132px;
  height:139px;
  display:flex;
}
#u1039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:139px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.6980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:420px;
  width:132px;
  height:139px;
  display:flex;
}
#u1040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:139px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.6980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:420px;
  width:132px;
  height:139px;
  display:flex;
}
#u1041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:58px;
  width:286px;
  height:63px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1042 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:427px;
  width:286px;
  height:42px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1043 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
